body{
  overflow: hidden;
}
.user-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
  
}
.details{
  /* display: block; */
  /* display: flex; */
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
   font-size: 1.6rem;
   margin-top: -90rem;
   text-align: left;
   line-height: 4.4rem;
   font-weight: 100;
}

.details .val{
  margin-left: 10px;
  text-decoration: underline;
}

.details .key{
  display: inline-block;
  width: 17vw;
}


@media(max-width: 800px){

}



